<div class="container">
	<div class="row">
		<div class="mx-auto text-center">
			<h1 class="my-5" style="font-size: 4.5em">About</h1>
			<h4>ながのCAKEは全国発送可能なケーキ屋さんです。</h4>
			<h4>お子様からお年寄りの方までお召し上がりいただけるよう、</h4>
			<h4>さまざまななバリエーションをご用意しています。</h4>
			<h4>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h4>
			<h4>ぜひご注文ください</h4>
		</div>
	</div>
</div>
