<div class="container">
  <div class="row">
    <h2>注文情報詳細</h2>
  </div>

  <div class="row">
    <table>
      <tr>
        <th>購入者</th>
        <%= link_to do %>
          <td>aaa</td>
        <% end %>
      </tr>
      <tr>
        <th>注文日</th>
        <td>aaa</td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>aaa</td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td>aaa</td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>aaa</td>
      </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-10">
        <table class="table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <tr>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
              <td>aaa</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="clo-2">
         <table>
           <tr>
             <th>商品合計</th>
             <td>aaa</td>
           </tr>
           <tr>
             <th>送料</th>
             <td>aaa</td>
           </tr>
           <tr>
             <th>請求金額合計</th>
             <td>aaa</td>
           </tr>
         </table>
        </div>
      </div>
    </div>
  </div>
</div>
