<div class="container">
  <h2 class="row">ジャンル一覧・追加仮</h2>
  <!--ジャンル編集フォーム-->
  <div class="row">
    <p class="col-3">ジャンル名</p>
    <p class="col-4 offset-1">編集フォーム予定</p>
    <p class="col-3 offset-1">保存ボタン予定</p>
  </div>
</div>