<div class="container">
  <h3 class="row my-3 table-active">注文履歴一覧</h3>
  <table class="row table table-bordered">
    <thead class="col-12">
      <tr class="row">
        <th class="col-3">購入日時</th>
        <th class="col-3">購入者</th>
        <th class="col-3">注文個数</th>
        <th class="col-3">注文ステータス</th>
      </tr>
    </thead>
    <% @orders.each do |order|%>
      <tbody class="col-12">
        <tr class="row">
          <td class="col-3"><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M'), admin_order_path(order) %></td>
          <td class="col-3"><%= order.name %></td>
          <td class="col-3"><%= order.ordered_items.sum(quantity) %></td>
          <td class="col-3"><%= order.order_status class: "btn btn-primary btn-sm" %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>