<div class="container">
  <div class="row">
    <h3>注文履歴詳細</h3>
  </div>
  <div class="row">
    <div class="col-8">
　    <p>注文情報</p>
      <table class="table table-bordered">
        <tr>
          <th>注文日</th>
          <td>aaaaaaaaaa</td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <p>aaaaaaaaaa</p>
  					<p>aaaaaaaaaa</p>
  					<p>aaaaaaaaaa</p>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td>aaaaaaaaaa</td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>aaaaaaaaaa</td>
        </tr>
      </table>
    </div>
    <div class="col-4">
      <p>請求情報</p>
      <table class="table table-bordered table-hover">
        <tr>
          <th>商品合計</th>
          <td>aaaaaaaaaa</td>
        </tr>
        <tr>
          <th>配送料</th>
          <td>aaaaaaaaaa</td>
        </tr>
        <tr>
          <th>ご請求額</th>
          <td>aaaaaaaaaa</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <p>注文内容</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品</th>
          <th>単価 (税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aaaaaaaaaa</td>
          <td>aaaaaaaaaa</td>
          <td>aaaaaaaaaa</td>
          <td>aaaaaaaaaa</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>